<ion-header>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" selected-tab="deputies">
      <ion-tab-button tab="deputies" (click)="goto_tab('deputies')">
          <ion-icon name="people"></ion-icon>        <ion-label>Chamber of deputies</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="senate" (click)="goto_tab('senate')">
        <img src="../../../assets/icon/senate_icon.png" width="30px" height="30px">
        <ion-label>Senate</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
