ion-icon {   


    &[class*="custom-"] {
        mask-size: contain;
        mask-repeat: no-repeat; 
        background: currentColor;
        width: 1em; 
        height: 1em;  
        mask-position: 50% 50%;
    }

    &[class*="custom-senate"] {
        mask-image: url(../../../assets/icon/senate_icon.png);
    }

}