ion-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.selectionpage{
    display: flex;
    flex-flow: column;
    height: 100%;
}


.fillingspace{
    min-height: 1px;
    flex-grow: 1000;
}

ion-checkbox {
    .item-cover {
        width: 70px;
    }
}

.emptyvotelabel{
    position: absolute;
    top: 40%;
    left: 25%;
    margin-right: 25%;
}

.textemptyvote{
    text-align: justify;
    font-size: 18px;
}