<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" slot="start" (click)="goback()"></ion-icon>
    <ion-title>
      <span *ngIf="tot_selectables > 0">
          Choose {{remaining}} candidate<span [hidden]="remaining == 1">s</span> from {{party}}
      </span>
      <span *ngIf="tot_selectables == 0">
        Empty vote
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selectionpage">
    <div>
      <ion-item *ngFor="let c of choises">
          <ion-icon name="book" slot="start" (click)="wiki_url(c)"></ion-icon>
        <ion-label (click)="wiki_url(c)">
          {{c}}
        </ion-label>
        <ion-checkbox (ionChange)="on_change($event, c)" [disabled]="remaining == 0 && !is_chosen(c)" slot="end">
        </ion-checkbox>
      </ion-item>
      <ion-item *ngIf="tot_selectables > 0">
        <ion-label>Empty vote</ion-label>
        <ion-checkbox (ionChange)="on_change_empty_vote($event, c)"
          [disabled]="remaining != total_remaining && !empty_selection()"></ion-checkbox>
      </ion-item>
      <ion-label  *ngIf="tot_selectables == 0" class="emptyvotelabel">
        <p class="textemptyvote">
          Press "Confirm" button below to send an empty vote
        </p>
      </ion-label>
    </div>
    <div class="fillingspace"></div>
    <div>
      <ion-button expand="full" (click)="confirm_vote()" [hidden]="remaining > 0">Confirm</ion-button>
    </div>
  </div>

</ion-content>