<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="goback()" slot="start"></ion-icon>
    <ion-title>Electoral card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item *ngFor="let p of card_values">
      <ion-label>{{p[0]}}</ion-label>
      <ion-label>{{p[1]}}</ion-label>
    </ion-item>
  </div>
</ion-content>
