<ion-list>
    <ion-item (click)='goto_electoralcard()'>
        <span>
            See electoral card
        </span>
    </ion-item>
    <ion-item (click)='logout()'>
        <span>
            Logout
        </span>
    </ion-item>
</ion-list>