<ion-header>
  <ion-toolbar>
    <ion-title>{{vote.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="voteselectionpage">
    <div>
      <ion-item *ngFor="let c of choises; let i=index" (click)="select_candidate(i,c)">
        <ion-avatar slot="start">
          <img src="../../../assets/logo_politic{{i}}.png">
        </ion-avatar>
        <ion-label> {{c}}</ion-label>
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="goto_emptyvote()">
        <ion-label>Empty vote</ion-label>
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
      </ion-item>
    </div>
  </div>
</ion-content>