<ion-header>
  <ion-toolbar>
    <ion-icon (click)="loc.back()" name="arrow-back" slot="start"></ion-icon>
    <ion-title class="pagetitle">Disclamer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span>
    <h4 padding>Be sure to be alone while voting</h4>
    <p padding>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis blandit elit, sed faucibus urna dapibus
      sed. Nunc fermentum sit amet turpis ut tempus. Donec vel lacus turpis. Donec tempus eros non volutpat mattis. Ut
      eleifend nibh vitae ligula sodales, consequat tincidunt odio dictum. Proin ultrices tristique arcu. Duis non augue
      libero. Nam tempus risus eget dictum eleifend. Duis at nisl sed sem suscipit molestie nec nec quam. Pellentesque
      vulputate, quam quis suscipit consequat, enim massa ullamcorper urna, vel tincidunt magna turpis id lacus. In et
      lacus quis nibh suscipit lobortis.
    </p>
    <p padding>
      Nullam sodales nisi eu tellus pharetra congue. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Morbi libero risus, cursus nec nunc non, porta fringilla ex. Phasellus vel magna elit.
      Aliquam erat volutpat. Integer quis risus non eros varius sagittis. Aliquam interdum pharetra tellus in pretium.
      Vestibulum mauris purus, suscipit nec metus at, laoreet dictum dolor. Nulla malesuada id odio et sollicitudin.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tincidunt aliquam
      varius.
    </p>
  </span>
  <ion-button expand="full" (click)="goto_voteselection(vote)" class="confirmbutton">
    I've read the conditions, i'm ready to vote
  </ion-button>
</ion-content>