<ion-header>
  <ion-toolbar>
      <ion-icon (click)="loc.back()" name="arrow-back" slot="start"></ion-icon>
    <ion-title>Vote Results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-chart class="piechart"
    [title]=""
    [type]="type1"
    [data]="data">
  </google-chart>
  <google-chart class="piechart"
    [title]=""
    [type]="type2"
    [data]="data">
  </google-chart>
</ion-content>
