<ion-header>
</ion-header>

<ion-content>
    <img src="../../../assets/italy_emblem.png" class="italyemblem">
  <ion-item class="searchbar" *ngIf="mode == 'old'">
    <ion-input placeholder="Filter by vote" [(ngModel)]="filter_value"></ion-input>
  </ion-item>
  <div>
    <ion-item></ion-item>
    <ion-item *ngFor="let vote of votes | filter: filter_value">
      <div class="voterow">
        <ion-label class="votenametype">
          <h2 class="votename">{{vote.name}}</h2>
          <p>{{vote.type}}</p>
        </ion-label>
        <div class="fillingspace"></div>
        <div>
          <ion-label class="votedate">
            <p>{{vote.date.toLocaleDateString()}}</p>
          </ion-label>
          <ion-button fill="clear" (click)="goto_details(vote)">
            <p *ngIf="vote.is_actual && !vote.voted">Go to vote</p>
            <p *ngIf="vote.is_actual && vote.voted">Change vote</p>
            <p *ngIf="vote.is_old">See results</p>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </div>

</ion-content>