.searchbar{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 3px;
    margin-right: 3px;
}

.voterow{
    display: flex;
    flex-flow: row;
    width: 100%
}

.votenametype{
    margin: 4px;
}

.votename{
    margin-bottom: 10px;
    line-break: loose;
}

.votedate{
    margin: 4px;
    margin-left: 12px;
}


.fillingspace{
    flex-grow: 1000;
}


.italyemblem{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 40vw;
    margin-right: 40vw;
}