<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{user.name}} {{user.surname}}</ion-title>
    <ion-button (click)="present_popover($event)" class="popoverbutton" slot="end" color="light">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom" selected-tab="actualvotes">
      <ion-tab-button tab="actualvotes">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Active votes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="oldvotes">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Old votes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="futurevotes">
        <ion-icon name="send"></ion-icon>
        <ion-label>Future votes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>