<ion-content>
  <div class="inputform">
    <img src="../../../assets/italy_emblem.png" class="italyemblem">
    <ion-item class="rowform" padding>
      <ion-icon name="contact" position="fixed"></ion-icon>
      <!-- <ion-icon src="/src/assets/icon/senate_icon.svg" position="fixed"></ion-icon> -->
      <ion-input type="text" style="--highlight-height : 2px;" padding placeholder="Passport ID" [(ngModel)]="user">
      </ion-input>
    </ion-item>
    <ion-item class="rowform" padding>
      <span [hidden]="!has_fingerprint"><ion-icon name="finger-print" [ngClass]="{'greencolor': pass_disabled}"></ion-icon> <span [hidden]="pass_disabled">/</span> </span> <ion-icon name="lock" [hidden]="pass_disabled"></ion-icon>
      <ion-input type="password" padding [(ngModel)]="pass" placeholder="Password" [disabled]="pass_disabled"></ion-input>
    </ion-item>
    <ion-input [(ngModel)]="error_msg" style="color: red;" readonly padding></ion-input>
    <div class="fillingspace"></div>
    <div class="bottombuttons" padding>
      <ion-button expand="full" (click)="check_login()">Login</ion-button>
      <ion-button (click)="goto_registration()" expand="full" [hidden]="login_file_exists">Voter recognition</ion-button>
    </div>
  </div>
</ion-content>