.inputform{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.rowform{
    flex-basis: auto;
    --highlight-height : 0px;
}

.fillingspace{
    min-width: 1px;
    min-height: 1px;
    flex-grow: 100;
}

.bottombuttons{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: auto;
    display: flex;
    flex-flow: column;
}


ion-input{
    --highlight-height : 2px;
}

.greencolor{
    color: green;
}


.italyemblem{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 40vw;
    margin-right: 40vw;
}