ion-label{
    color: rgb(109, 109, 109);
    font-weight: 300;
}

.registrationpage{
    height: 100%;
    display: flex;
    flex-flow: column;
}

.fillingspace{
    flex-grow: 10000;
    min-height: 1px;
}

.buttonbottom{
    margin-top: 50px;
    width: 100%;
}

