<ion-header>
  <ion-toolbar>
    <ion-button (click)="loc.back()" fill="clear" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="registrationpage">
    <div>
      <ion-item>
        <ion-label>Passport ID: </ion-label>
        <ion-input [(ngModel)]="passport" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [hidden]="pass_disabled">Password: </ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </div>
    <div class="fillingspace"></div>
    <div class="buttonbottom">
      <ion-button (click)="complete()" expand="full">Complete registration</ion-button>
    </div>
  </div>
</ion-content>